

# Папка виртуальной среды
venv/
env/
.venv/
.env/
myenv/

# Системные файлы
.DS_Store
Thumbs.db



# Файлы конфигурации IDE
.vscode/
.idea/

# Файлы конфигурации
*.pyc
*.pyo
*.pyd
__pycache__/
*.db

# Файлы настроек
*.env

# Файлы миграций Django
*.log

# Другие файлы, которые не следует добавлять
*.bak
*.tmp
