@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope.ttf);
}
@font-face {
  font-family: "Play fair";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Play fair";
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  border: none;
  text-decoration: none;
  color: var(--color-white);
}

ol,
ul,
li {
  list-style: none;
}

button, input, select, option {
  border: none;
  outline: none;
  background: transparent;
}

p, a, li {
  margin: 0;
  padding: 0;
}

.panel-container {
  width: 100%;
  background: #f3f4f8;
}
.panel-nav {
  width: 100%;
  min-height: 45px;
  background: rgba(78, 93, 108, 0.2);
  padding-left: 230px;
}
.panel-link {
  color: #fff;
  border-bottom: 1px solid #333645;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Manrope";
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel-link > i {
  font-size: 22px;
  margin-right: 12px;
}
.panel-link:hover {
  background: #57bfb8;
}
.panel-aside {
  width: 280px;
  min-height: calc(100vh - 70px);
  background: #4E5D6C;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.panel-aside-image {
  width: 65px;
  height: 65px;
}
.panel-aside-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.panel-header {
  width: 100%;
  height: 70px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 36px;
  padding-right: 36px;
}
.panel-header-account {
  position: relative;
  min-width: 250px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4E5D6C;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: "Manrope";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.panel-header-account i {
  margin-left: 8px;
  margin-right: 8px;
  color: #4E5D6C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.panel-header-account > p {
  cursor: pointer;
  text-align: center;
}
.panel-header-account > p > span {
  font-weight: 400;
  font-size: 10px;
  padding-top: 12px;
  color: #95969a;
}
.panel-header-logout {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
  height: 0;
  top: 70px;
  right: 0;
  z-index: 99;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.panel-header-logout-btn {
  display: none;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  color: #95969a;
  letter-spacing: 2px;
  font-family: "Manrope";
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-top: 1px solid rgba(149, 150, 154, 0.7);
}
.panel-header-logout-btn:hover {
  background: #57bfb8;
  color: #333645;
}
.panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.panel-body-content {
  width: calc(100% - 280px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 76px;
}

.nav-title {
  height: 45px;
}

.nav-link-body {
  height: 100%;
  width: 250px;
  background: #f3f4f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid rgba(42, 68, 75, 0.6);
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(42, 68, 75, 0.2);
          box-shadow: inset 0px 0px 30px 0px rgba(42, 68, 75, 0.2);
  font-size: 16px;
  font-weight: 500;
  font-family: "Manrope";
  -webkit-animation: animation-nav 0.2s linear;
          animation: animation-nav 0.2s linear;
}

.content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 4px 6px 17px -10px #333645;
          box-shadow: 4px 6px 17px -10px #333645;
  margin-top: 36px;
}
.content-list-body {
  width: 100%;
}
.content-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content-list-container-card {
  min-height: 45px;
  border: 1px solid #E0E0E0;
  padding: 12px 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 16px;
  font-weight: 500;
  font-family: "Manrope";
  color: #1E3A5F;
}
.content-title {
  padding-top: 36px;
  padding-bottom: 36px;
}

.table-title {
  background: #EAF3FA;
}

.search {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 36px;
  background: #ac92c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search > h2 {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Play fair";
  font-weight: 700;
  letter-spacing: 1.5px;
}

.dashbord {
  width: 100%;
}
.dashbord-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dashbord-body-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.dashbord-body-table-cell {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  height: 45px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashbord-body-table-title {
  font-family: "Play fair";
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #95969a;
}

.dashbord-body-table-text {
  font-family: "Manrope";
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #333645;
  padding-top: 13px;
  padding-bottom: 13px;
}

.href {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.href:hover {
  background: #57bfb8;
}

@-webkit-keyframes animation-nav {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation-nav {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}