<div class="dashbord">
    <div class="search">
        <div class="search-add-client">
            <button id='add-suppliers'>Создать</button>
        </div>
    <div class="search-container">
        <input class='search-input' type="text" id="supplier-search" placeholder="Поиск поставщика...">
            <div class="search-input-reset">
                <i class="fas fa-times"></i>
            </div>
    </div>
    <h2>Поставщики</h2>
        <div class="close-client-list">
            <i class="fas fa-times"></i>
        </div>
    </div>
</div>
<section class="content-list-body">
    <div id="dashbord-body-supplier" class="dashbord-body">

    </div>
    <div class="client-detail record-detail">
        <div class="close-modal-detail">
            <i class="fas fa-times"></i>
        </div>  
        <div class="record-detail-card" id="supplier-detail">
        </div>   
    </div>
</section>
