
    <div class="card-container">
            <div class="card-container-left">
                <div class="card-info">
                    <h3>{{ supplier.name }}</h3>
                    <div class="card-text">
                        <p>Телефон:</p>
                        <p><span><a href="tel:{{ supplier.phone }}">{{ supplier.phone }}</a></span></p>
                    </div>
                    <div class="card-text">
                        <p>Email:</p>
                        <p><span><a href="mailto:{{ supplier.email }}">{{ supplier.email }}</a></span></p>
                    </div>
                    <div class="card-text">
                        <p>Контактное лицо:</p>
                        <p><span>{{ supplier.manager }}</span></p>
                    </div>
                    <div class="card-btn">
                        <button class="card-btn-click" data-supplier-id="{{ supplier.id}}" id='edit-supplier-btn'>Изменить</button>
                        <button class="card-btn-click" id="delete-supplier-btn">Удалить</button>
                    </div>
                </div>
                <div class="card-info">
                    <h3>Категории товаров:</h3>
                    <div class="card-catalogs">
                        {% if category.pumps.items %}
                            <a class="card-catalogs-link" href='#'>{{ category.pumps.verbose_name }}</a>
                        {% else %}
                            <div></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-container-right">
                <div class="supplier-equipment-search"></div>
                <div class="supplier-equipment-list" id='supplier-equipment-list'>
                    
                </div>
            </div>
            <div class="delete-modal" id="supplier-delete-modal">
                <i id="delete-modal-supplier-chevron" class="fas fa-times delete-modal-chevron"></i>
                <div class="delete-modal-message">
                    <h4>Подтвердите удаление</h4>
                    <h4><span>Действие необратимо! подтверждаете?</span></h4>
                    <div class="delete-modal-btn">
                        <button id="delete-supplier-done" data-supplier-id="{{ supplier.id}}">Удалить</button>
                        <button id="delete-supplier-cancel">Отмена</button>
                    </div>
                </div>
            </div>
            <div id="suplier-delete-modal-message" class="delete-modal-done">
                <div class="delete-modal-done-message">
                    <h4 id="suplier-delete-modal-message-text" class="delete-modal-done-message-text"></h4>
                </div>
                <div class="delete-modal-done-btn">
                    <button id="supplier-delete-modal-message-completed">ok</button>
                </div>
            </div>
            <div id="update-supplier-record-modal" class="edit-modal-window center-block-form">
                <i id="update-supplier-record-modal-chevron" class="fas fa-times delete-modal-chevron"></i>
                <div class="edit-modal-window-body" id="update-supplier-record-modal-body"></div>
            </div>


