{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/741d6d6a0a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/panel-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block style %}
    {% endblock %}
    <title>{% block title %}Панель Управления{% endblock %}</title>
</head>
<body>
    
    <main>
        <header class="panel-header">
            <div class="panel-aside-image">
                <img src="{% static '/img/logo/001.png' %}" alt="logo">
            </div>
            {% block header %}
            {% endblock %}
        </header>
        <div class="panel-container">
            <div class="panel-body">
               <aside class="panel-aside">
                    
                    {% block aside %}
                    {% endblock %}
                </aside> 
                <div class="panel-body-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>

</body>
{% block script %}

{% endblock %}
    <script src="{% static 'js/panel-script-animation.js' %}"></script>
    <script src="{% static 'js/client-script.js' %}"></script>
    <script src="{% static 'js/equipment-script.js' %}"></script>
    <script src="{% static 'js/supplier-script.js' %}"></script>
</html>