{% extends "sample/panel_sample.html" %}


{% block header %}
    <div class="panel-header-account">
        <p class="panel-header-account-link"><i class="fas fa-user-shield"></i>{{ user.first_name }}<i id="user-chevron" class="fas fa-chevron-down"></i><br><span>{{ user.groups.first }}</span></p>
        <div class="panel-header-logout">
            <a class="panel-header-logout-btn" href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <ul class="aside-link">
        <li data-url="{% url 'clients-list' %}" class="load-content panel-link" id='addClientsList'><i class="fas fa-users"></i><span>Клиенты</span></li>
        <li class="panel-navigation" id='visibleEquipment'><i class="fas fa-cogs"></i><span>Оборудование</span><i id="visibleEquipmentChevron" class="fas fa-chevron-down"></i></li>
        <ul class="panel-list" id="visibleEquipmentSubnavigation">
            <li data-url="{% url 'pumps_list' %}" id="load-pumps-list" class="panel-subnavigation equipment-list">Насосное Оборудование</li>
            <li class="panel-subnavigation equipment-list">2</li>
            <li class="panel-subnavigation equipment-list">3</li>
            <li class="panel-subnavigation equipment-list">4</li>
        </ul>
        <li data-url="{% url 'suppliers-list' %}" id="load-suppliers-list"  class="panel-link"><i class="fas fa-cart-arrow-down"></i><span>Поставщики</span></li>
    </ul>
{% endblock %}
{% block nav %}
    <div class="nav-title"></div>
{% endblock %}

{% block content %}
    <section id="client-list" class="content-list clear-list">
    </section>
{% endblock %}


