{% extends "sample/panel_sample.html" %}


{% block header %}
    <div class="panel-header-account">
        <p class="panel-header-account-link"><i class="fas fa-user-shield"></i>{{ user.first_name }}<i id="user-chevron" class="fas fa-chevron-down"></i><br><span>{{ user.groups.first }}</span></p>
        <div class="panel-header-logout">
            <a class="panel-header-logout-btn" href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <ul class="aside-link">
        <li data-url="{% url 'clients_list' %}" class="load-content panel-link" id='addClientsList'><i class="fas fa-users"></i><span>Клиенты</span></li>
        <li class=" load-content panel-link" >catalogs</li>
    </ul>
{% endblock %}
{% block nav %}
    <div class="nav-title"></div>
{% endblock %}

{% block content %}
    <section id="client-list" class="content-list">
    </section>
{% endblock %}


