

<div class="record-detail-card" id="client-detail">
    <div class="card-container">
        <div class="card-container-left">
            <div class="card-info">
                <h3>Заказчик:</h3>
                <div class="card-text">
                    <p>Имя:</p>
                    <p><span>{{ client.name }}</span></p>
                </div>
                <div class="card-text">
                    <p>Город:</p>
                    <p><span>{{ client.city }}</span></p>
                </div>
                <div class="card-text">
                    <p>Телефон:</p>
                    <p><span><a href="tel:{{ client.phone }}">{{ client.phone }}</a></span></p>
                </div>
                <div class="card-text">
                    <p>Email:</p>
                    <p><span><a href="mailto:{{ client.email }}">{{ client.email }}</a></span></p>
                </div>
                <div class="card-text">
                    <p>Комментарий</p>
                    <p><span>{{ client.note }}</span></p>
                </div>
                <div class="card-btn">
                    <button clas="card-btn-click">Изменить</button>
                    <button clas="card-btn-click" id="delete-client-btn">Удалить</button>
                </div>
            </div>
            <div class="card-info">
                <h3>Отвественный:</h3>
                <div class="card-text">
                    <p>Имя:</p>
                    <p><span>{{ client.responsible.last_name }} {{ client.responsible.first_name }}</span></p>
                </div>
            </div>
        </div>
        <div class="delete-modal">
            <i class="fas fa-times delete-modal-chevron"></i>
            <div class="delete-modal-message">
                <h4>Подтвердите удаление</h4>
                <h4><span>Действие необратимо! подтверждаете?</span></h4>
            </div>
            <div class="delete-modal-btn">
                <button id="delete-client-done" data-client-id="{{ client.id }}">Удалить</button>
                <button id="delete-client-cancel">Отмена</button>
            </div>
        </div>
        <div class="delete-modal-done">
            <div class="delete-modal-done-message">
                <h4 class="delete-modal-done-message-text"></h4>
            </div>
            <div class="delete-modal-done-btn">
                <button id="delete-client-done-ok">ok</button>
            </div>
        </div>
    </div>
</div>


<script>


    const closeModalWindowDeleteRecord = () => {
        deleteModal.style.display = 'none';
    };

    // Открыть модальное окно удаления
    const openModalWindowDeleteRecord = () => {
        deleteModal.style.display = 'flex';
    };

    // Открыть окно с подтверждением удаления
    const openModalWindowDeleteDone = () => {
        deleteModalDone.style.display = 'flex';
    };

    // Закрыть окно с подтверждением удаления
    const closeModalWindowDeleteDone = () => {
        deleteModalDone.style.display = 'none';
    };

    // Открытие окна при нажатии на кнопку удаления
    deleteClientBtn.addEventListener('click', () => {
        openModalWindowDeleteRecord();
    });

    // Закрытие окна при нажатии на Chevron или отмену
    deleteModalChevron.addEventListener('click', closeModalWindowDeleteRecord);
    deleteClientCancel.addEventListener('click', closeModalWindowDeleteRecord);

    // Закрытие окна с подтверждением удаления
    deleteModalDoneOk.addEventListener('click', () => {
        closeModalWindowDeleteRecord();
        setTimeout(closeModalWindowDeleteDone, 150);
    });

    // jQuery AJAX для удаления записи клиента
    $(document).ready(function() {
        $(deleteClientDone).click(function() {
            const clientId = $(this).data('client-id');

            if (!clientId) {
                console.error("Client ID is not available.");
                return;
            }

            $.ajax({
                url: `/clients/client/${clientId}/delete/`,
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'  // Добавляем CSRF-токен
                },
                success: function(response) {
                    openModalWindowDeleteDone();
                    deleteModalDoneMessageText.textContent = 'Клиент успешно удален.';
                    console.log('Клиент успешно удален');
                },
                error: function(xhr, status, error) {
                    deleteModalDoneMessageText.textContent = 'Не удалось удалить клиента.';
                    console.error('Ошибка при удалении клиента:', error);
                }
            });
        });
    });

</script>
