{% extends 'components/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/create_style.css' %}">
{% endblock %}

{% block content %}
    <section class="accountant" id="accountant">
        <div class="container accountant-container">
            <aside class="accountant-aside">
                <div class="accountant-aside-logo">
                    <i class="fa-solid fa-calculator"></i>
                    <h1>Расчетник</h1>
                </div>
                <nav class="accountant-nav">
                    <a class='accountant-link' href="{% url 'create_rectangle' %}">
                        <i class="fa-solid fa-person-swimming"></i>
                        <div class="text">
                            <h2>Прямоугольный бассейн</h2>
                            <p>Типовой скиммерный бассейн</p>
                        </div>
                    </a>
                    <a class='accountant-link' href="#" data-url="/calculation/create-rectangle1/">
                        <i class="fa-solid fa-person-swimming"></i>
                        <div class="text">
                            <h2>Круглый бассейн</h2>
                            <p>Типовой скиммерный бассейн</p>
                        </div>
                    </a>
                </nav>
            </aside>
            <div class="accountant-body">
            </div>
        </div>
    </section>
{% endblock %}


