$color-bg: #F5F5F5;
$color-card: #FFED9E;
$color-error: #FF6B6B;
$color-title: #333333;
$color-text: #333333;
$color-line: #4E5D6C;
$color-positive: #388E3C;
$color-negative: #D32F2F;
$color-neutral: #FFF9C4;
$color-active-btn: #FFEB3B;
$color-checked : #EF9A9A;

