$color-bg: #f3f4f8;
$color-card: #333645;

$color-error: #FF6B6B;
$color-nav-left: #fbfeff;

$color-text: #95969a;
$color-line: #4E5D6C;
$color-positive: #388E3C;
$color-negative: #D32F2F;
$color-neutral: #FFF9C4;
$color-active-btn: #FFEB3B;
$color-checked : #EF9A9A;

$color-hover-btn : #57bfb8;
$color-white: #fff;

$color-bg-title: #ac92c2;