
@import 'reset';
@import 'variables';

.panel{
    &-container{
        width: calc(100% - 280px);
        margin-left: 280px;
        
    }
    &-nav{
        width: 100%;
        min-height: 45px;
        background: rgba(78, 93, 108, 0.2);
        padding-left: 230px;
    }
    &-link{
        color: $color-white;
        border-bottom: 1px solid $color-card;
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 36px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Manrope';
        text-align: left;
        cursor: pointer;
        transition: all .3s ease;
        width: 100%;
        display: flex;
        align-items: center;
        & > i{
            font-size: 22px;
            margin-right: 12px;
        }
       &:hover{
            background: $color-hover-btn;
        }
    }
    &-aside{
        width: 280px;
        position: fixed;
        left: 0;
        min-height: calc(100vh - 70px);
        background: $color-line;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-image{
            width: 65px;
            height: 65px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-header{
        width: 100%;
        height: 70px;
        background: $color-white;
        border: 1px solid $color-line;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 36px;
        padding-right: 36px;
        &-account{
            position: relative;
            min-width: 250px;
            height: 100%;
            display: flex;
            align-items: center;
            color: $color-line;
            font-weight: 700;
            font-size: 15px;
            letter-spacing: 2px;
            font-family: 'Manrope';
            justify-content: space-between;
            & i{
                margin-left: 8px;
                margin-right: 8px;
                color: $color-line;
                transition: all .2s ease;
            }
            & >p {
                cursor: pointer;
                text-align: center;
                &> span{
                    font-weight: 400;
                    font-size: 10px;
                    padding-top: 12px;
                    color: $color-text;
                }
            }
        }
        &-logout{
            position: absolute;
            display: flex;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 250px;
            height: 0;
            top: 70px;
            right: 0;
            z-index: 99;
            background: $color-bg;
            transition: all .5s ease;
            &-btn{
                display: none;
                transform: translateX(20px);
                justify-content: center;
                align-items: center;
                opacity: 0;
                width: 100%;
                height: 60px;
                background: transparent;
                font-size: 16px;
                font-weight: 700;
                color: $color-text;
                letter-spacing: 2px;
                font-family: 'Manrope';
                cursor: pointer;
                transition: all .1s ease;
                border-top: 1px solid rgba(149, 150, 154, 0.7);
                &:hover{
                    background: $color-hover-btn;
                    color: $color-card;
                }
            }
        }
    }
    &-body{
        display: flex;
        width: 100%;
        &-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }
}

.aside-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 76px;
}

.nav-title{
    height: 45px;
}
.nav-link-body{
    height: 100%;
    width: 250px;
    background: $color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(42, 68, 75, 0.6);
    box-shadow: inset 0px 0px 30px 0px rgba(42, 68, 75, 0.2);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Manrope';
    // color: $color-title;
    animation: animation-nav .2s linear;
}
.content{
    &-list{
        display: flex;
        flex-direction: column;
        width: 98%;
        height: 100%;
        align-items: center;
        box-shadow: 4px 6px 17px -10px #333645;
        margin-top: 36px;
        background: $color-bg;
        transition: all .5s ease;
        &-body{
            width: 100%;
            height: 100%;
            position: relative;
        
    }
    &-container{
        display: flex;

        &-card{
            min-height: 45px;
            border: 1px solid #E0E0E0;
            padding: 12px 23px;
            flex: 1 1;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Manrope';
            color: #1E3A5F;
}
        }
    }
    &-title{
        padding-top: 36px;
        padding-bottom: 36px;
    }
}

.table-title{
    background: #EAF3FA;
}

.search{
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 36px;
    background: $color-bg-title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-add-client{
        width: 140px;
        height: 45px;
        & > button{
            width: 100%;
            height: 100%;
            background: $color-hover-btn;
            transition: all .5s ease;
            box-shadow: 4px 6px 17px -10px #333645;
            border-radius: 3px;
            border: 1px solid $color-neutral;
            cursor: pointer;
            font-size: 13px;
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            &:hover{
                box-shadow: inset 4px 6px 17px -10px #333645;
            }
        }
    }
    & > h2{
        font-size: 18px;
        color: $color-white;
        text-transform: uppercase;
        font-family: 'Play fair';
        font-weight: 700;
        letter-spacing: 1.5px;
        padding-right: 12px;
    }
    &-container{
        display: flex;
        align-items: center;
        width: 40%;
        height: 35px;
        background: $color-white;
        border-radius: 3px;
    }
    &-input{
        padding-left: 12px;
        font-size: 16px;
        width: calc(100% - 30px);
        &-reset{
            font-size: 20px;
            cursor: pointer;
            color: $color-line;
            font-weight: 700;
            width: 30px;
        }

    }
}

.dashbord{
    width: 100%;
    &-body{
        display: flex;
        width: 100%;
        flex-direction: column;
        
        &-table{
            display: flex;
            width: 100%;
            &-cell{
                flex: 1 1;
                height: 45px;
                text-align: center;
                display: flex;
                font-size: 13px;
                align-items: center;
                justify-content: center;
                font-family: 'Manrope';
            }
        }
    }
}

.dashbord-body-table-title{
    font-family: 'Play fair';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: $color-text;
    
}
.dashbord-body-table-text{
    font-family: 'Manrope';
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    color: $color-card;
    padding-top: 13px;
    padding-bottom: 13px;
    
}
.client-row, 
.supplier-row{
    cursor: pointer;
    transition: all .2s ease;
    &:hover{
        background: $color-hover-btn;
    }
}

.border-bottom-table{
    border-bottom: 1px solid $color-line;
    color: $color-text;
    font-size: 12px;
}
.record-detail{
    width: 0;
    display: none;
    min-height: 780px;
    height: auto;
    top: 10px;
    left: 20px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    background: $color-bg;
    box-shadow: 4px 6px 17px -10px #333645;
    transition: all .4s ease;
    padding: 36px;
    &-card{
        transition: all .4s ease;
    }
}
.close-modal-detail{
    display: flex;
    font-size: 35px;
    font-weight: 700;
    color: $color-card;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 110;
    & > i{
        transition: all .4s ease;
        &:hover{
            color: $color-hover-btn;
        }
    }
    
}

.card{
    &-container{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &-left{
            display: flex;
            flex-direction: column;
        }
    }
    &-info{
        padding: 12px;
        width: 276px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 2rem;
        background: $color-white;
        box-shadow: 4px 6px 17px -10px #333645;
        &:last-child{
            margin-top: 23px;
        }
        &> h3{
            font-family: 'Play fair';
            font-size: 18px;
            letter-spacing: 1.2px;
            padding-bottom: 13px;
            color: $color-text;
        }
    }
    &-text{
        padding-bottom: 6px;
        padding-top: 10px;
        // border-bottom: 1px solid rgba(78, 93, 108, 0.6);
        width: 100%;
        & > p{
            font-size: 13px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-text;
            font-weight: 600; 
            padding-left: 0;
            & > span{
                padding-bottom: 11px;
                padding-left: 23px;
                font-weight: 600;
                color: $color-card;
            }
        }
    }
    &-btn{
        margin-top: 23px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        & > button{
            width: 45%;
            height: 60px;
            transition: all .3s ease;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-card;
            &:hover{
                background: $color-hover-btn;
                color: $color-text;
            }
        }
    }
    &-catalogs{
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        &-link{
            padding-top: 4px;
            padding-left: 8px;
            padding-bottom: 4px;
            padding-right: 8px;
            font-size: 13px;
            border: 1px solid $color-text;
            transition: all .3s ease;
            color: $color-card;
            font-family: 'Manrope';
            &:hover{
                color: $color-text;
                transform: scale(1.01);
            }
        }
    }
}

.delete-modal{
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 120;
    transform: translateX(-50%) translateY(-50%);
    background: $color-white;
    box-shadow: 4px 6px 17px -10px #333645;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &-chevron{
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        transition: all .4s ease;
        cursor: pointer;
        z-index: 130;
        &:hover{
            transform: rotateZ(90deg);
        }
    }
    &-message{
       width: 100%;
       padding-top: 35px;
       padding-bottom: 12px;
       padding-left: 23px;
       & > h4{
            font-size: 15px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-text;
            font-weight: 600; 
            padding-left: 0;
            & span{
                color: $color-card;
                font-size: 13px;
                padding-left: 15px;
                font-weight: 500;
                padding-top: 12px;
            }
        }
    }
    &-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 12px;
        padding-bottom: 12px;
        &> button{
            width: 45%;
            height: 50px;
            transition: all .3s ease;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-card;
            border: 1px solid $color-line;
            &:first-child{
                &:hover{
                    background: $color-negative;
                }
            }
            &:last-child{
                &:hover{
                    background: $color-positive;
                }
            }
        }
    }
}

.delete-modal-done{
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 130;
    transform: translateX(-50%) translateY(-50%);
    background: $color-white;
    box-shadow: 4px 6px 17px -10px #333645;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &-message{
       width: 100%;
       padding-top: 35px;
       padding-bottom: 12px;
       padding-left: 23px;
       & > h4{
            font-size: 15px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-text;
            font-weight: 600; 
            padding-left: 0;
            & span{
                color: $color-card;
                font-size: 13px;
                padding-left: 15px;
                font-weight: 500;
                padding-top: 12px;
            }
        }
    }
    &-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 12px;
        padding-bottom: 12px;
        &> button{
            width: 45%;
            height: 50px;
            transition: all .3s ease;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-card;
            border: 1px solid $color-line;
            &:first-child{
                &:hover{
                    background: $color-hover-btn;
                }
            }
        }
    }
}

.message-modal-done{
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 130;
    transform: translateX(-50%) translateY(-50%);
    background: $color-white;
    box-shadow: 4px 6px 17px -10px #333645;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &-message{
       width: 100%;
       padding-top: 35px;
       padding-bottom: 12px;
       padding-left: 23px;
       & > h4{
            font-size: 15px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-text;
            font-weight: 600; 
            padding-left: 0;
            & span{
                color: $color-card;
                font-size: 13px;
                padding-left: 15px;
                font-weight: 500;
                padding-top: 12px;
            }
        }
    }
    &-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 12px;
        padding-bottom: 12px;
        &> button{
            width: 45%;
            height: 50px;
            transition: all .3s ease;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-card;
            border: 1px solid $color-line;
            &:first-child{
                &:hover{
                    background: $color-hover-btn;
                }
            }
        }
    }
}


.close-client-list{
    display: none;
    color: $color-white;
    font-size: 28px;
    margin-right: 22px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        color: $color-hover-btn;
    }
}

.edit-modal-window{
    position: absolute;
    display: none;
    width: 380px;
    height: 560px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 150;
    background: $color-bg;
    box-shadow: 4px 6px 17px -10px #333645;
    border-radius: 3px;
    &-chevron{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 28px;
        color: $color-card;
        z-index: 170;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            color: $color-hover-btn;
        }
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px; 
        width: 98%;
        height: 100%; 
        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 36px; 
            width: 98%;
            height: 100%; 
        }
        &-block{
            display: flex;
            width: 98%;
            flex-direction: column;
            padding-left: 12px;
            &:nth-child(7){
                align-items: center;
            }
            & > label{
                font-size: 12px;
                color: $color-text;
            }
            & > textarea{
                width: 80%;
                height: 120px;
            }
            &> input{
                margin-left: 23px;
                height: 36px;
                font-size: 16px;
                border-bottom: 1px solid $color-line;
            }
        }   
    }
}


.create-modal-window{
    position: fixed;
    display: none;
    width: 380px;
    height: 660px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 150;
    background: $color-bg;
    box-shadow: 4px 6px 17px -10px #333645;
    border-radius: 3px;
    &-chevron{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 28px;
        color: $color-card;
        z-index: 170;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            color: $color-hover-btn;
        }
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px; 
        width: 98%;
        height: 100%; 
        & > h3{
            text-align: center;
            color: $color-line;
        }
        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 36px; 
            width: 98%;
            height: 100%; 
        }
        &-block{
            display: flex;
            width: 98%;
            flex-direction: column;
            padding-left: 12px;
            margin-top: 20px;
            &:nth-child(7){
                align-items: center;
            }
            & > label{
                font-size: 12px;
                color: $color-text;
            }
            & > textarea{
                width: 80%;
                height: 120px;
                &::placeholder{
                    font-size: 11px;
                }
            }
            &> input{
                margin-left: 23px;
                height: 36px;
                font-size: 16px;
                border-bottom: 1px solid $color-line;
                &::placeholder{
                    font-size: 11px;
                }
            }
        }   
    }
}

.create-message-modal-done{
    width: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 130;
    transform: translateX(-50%) translateY(-50%);
    background: $color-white;
    box-shadow: 4px 6px 17px -10px #333645;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    &-message{
       width: 100%;
       padding-top: 35px;
       padding-bottom: 12px;
       padding-left: 23px;
       & > h4{
            font-size: 15px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-text;
            font-weight: 600; 
            padding-left: 0;
            & span{
                color: $color-card;
                font-size: 13px;
                padding-left: 15px;
                font-weight: 500;
                padding-top: 12px;
            }
        }
    }
    &-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 12px;
        padding-bottom: 12px;
        &> button{
            width: 45%;
            height: 50px;
            transition: all .3s ease;
            cursor: pointer;
            font-size: 14px;
            font-family: 'Manrope';
            letter-spacing: 1px;
            color: $color-card;
            border: 1px solid $color-line;
            &:first-child{
                &:hover{
                    background: $color-hover-btn;
                }
            }
        }
    }
}


@keyframes animation-nav {
    0%{
        opacity: 0;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}