<!-- templates/rectangle_detail.html -->
<h1>Детали бассейна</h1>
<p>Клиент: {{ rectangle.client }}</p>
<p>Длина: {{ rectangle.length }} м</p>
<p>Ширина: {{ rectangle.width }} м</p>
<p>Глубина от: {{ rectangle.depth_from }} м</p>
<p>Глубина до: {{ rectangle.depth_to }} м</p>
<p><strong>Объем бассейна: {{ rectangle.volume }} куб. м</strong></p>
<p>площадь зеркала воды: {{ rectangle.area }} м</p>
<p>мощность насоса: {{ rectangle.pump_power }} м</p>
<p>площадь фильтрации: {{ rectangle.filter_area }} м</p>
<p>Материал отделки: {{ rectangle.finished_materials}} м</p>