<!-- templates/rectangle_detail.html -->
<h1>Детали бассейна</h1>
<p>Клиент: {{ rectangle.date }}</p>
<p>Клиент: {{ rectangle.client }}</p>
<p>Длина: {{ rectangle.length }} м</p>
<p>Ширина: {{ rectangle.width }} м</p>
<p>Глубина от: {{ rectangle.depth_from }} м</p>
<p>Глубина до: {{ rectangle.depth_to }} м</p>
<p><strong>Объем бассейна: {{ rectangle.volume }} куб. м</strong></p>
<p>площадь зеркала воды: {{ rectangle.area }} м</p>
<p>мощность насоса: {{ rectangle.pump_power }} м</p>
<p>площадь фильтрации: {{ rectangle.filter_area }} м</p>
<p>Материал отделки: {{ rectangle.finished_materials}}</p>
<p>Материал Закладных: {{ rectangle.zaclad_material}}</p>
<p> цвет освещения: {{ rectangle.ligthing}}</p>
<p>количество ламп: {{ rectangle.ligth_quantity}}</p>
<p>Подогрев: {{ rectangle.heating}}</p>
<p>Дезинфекция: {{ rectangle.desinfection}}</p>
<p>Приямок: {{ rectangle.pit}}</p>
<p>Покрывало: {{ rectangle.cover}}</p>
<p>Сматывающее: {{ rectangle.winding}}</p>
<p>Подводный пылесос: {{ rectangle.cleaner}}</p>
<p>Копка котлована: {{ rectangle.digging}}</p>
<p>Вывоз грунта: {{ rectangle.export}}</p>
<p>Бетонные работы: {{ rectangle.cconcrete}}</p>
